# My Jupyter Notebook on IBM Watson

**Elias**  
Game Developer / Data Scientist

_I'm interested in data sciense mainly to learn how implements more accurated AI to my npc's, and too to increase my position to concurrency in job search._

### The code will import pandas, load file student_grades.csv , put then in a dataframe, and show in a table.

In [14]:
import pandas as pd
file = "https://d3c33hcgiwev3.cloudfront.net/_a056ded6c3f894fa24f2efed29869d1b_student_grades.csv?Expires=1561507200&Signature=QHXpx~AUjwRQ66tZ-DglJutw7aYkWKn6K2XFGYwuAkoN3x58TAzAcThyRmF9PMedj43L-ml4ZvG9ZEpCAaGQCLW2BbWFjUoJJ1GLAjcfUXHBoOjCYb-hYi6gW8H-vfcHtMOFjoQkcTsnDtEuk2vXRU3Q1tAbMgHs2Eut-fZc6r8_&Key-Pair-Id=APKAJLTNE6QMUY6HBC5A"
df = pd.read_csv(file)
df.head()

      Student  Grade
0  John Smith     80
1  Jane Smith     75
2    John Doe     65
3    Jane Doe     90

This a list of Students Ordered by grade
***  
1. Jane Doe  
2. John Smith
3. Jane Smith
4. John Doe
***
The best student is
___
* Jane Doe  

[Link to markdown syntax reference](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)  
![Reference to get markdown syntax](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Reference to get markdown syntax")